In [1]:
import pandas as pd
import numpy as np

In [3]:
df_SPY = pd.read_csv('SPY.csv')
df_SPY.head()

       Date  Price    CVol   Open    Low   High
0  02/01/93  44.25  480500  43.97  43.97  44.25
1  02/02/93  44.34  201300  44.22  44.13  44.38
2  02/03/93  44.81  529400  44.41  44.38  44.84
3  02/04/93  45.00  531500  44.97  44.88  45.09
4  02/05/93  44.97  492100  44.97  44.72  45.06